@import 'style-variables';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-background-medium;
  height: 100%;

  & > * {
    width: 100%;
  }

  header,
  footer {
    height: $size-card-header-footer-height;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: $padding-default;
  }

  header {
    justify-content: center;

    .title {
      font-size: $font-size-h3;
    }
  }

  .image {
    height: $size-card-header-footer-height * 4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
  }

  footer {
    justify-content: space-between;

    .price {
      font-size: $font-size-h3;
      color: $color-accent;
    }

    .like {
      color: $color-accent;
    }
  }
}
