<a [routerLink]="product.id">
  <div
    class="image"
    [style.background-image]="'url(' + product.imageUrl + ')'"
    [ariaLabel]="product.title"
  ></div>
  <footer>
    <div class="info">
      <p
        class="title"
        [innerHTML]="product.title"
      ></p>
      <p
        class="price"
        [innerHTML]="product.price | numberAsEuro"
      ></p>
    </div>
    <aside>
      <shop-like-icon
        [liked]="product.liked"
        (likeClicked)="handleLikeClicked(product.id)"
      ></shop-like-icon>
    </aside>
  </footer>
</a>
