@import 'style-variables';

header {
  height: $size-header-footer-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $padding-large;
  padding: $padding-large;
  background-color: $color-background-default;
}
