@import 'style-variables';

main {
  padding: calc($size-header-footer-height + $padding-large) $padding-large
    $padding-large;
  min-height: calc(100vh - ($size-header-footer-height));
  width: 100%;
  max-width: $size-max-content-width;
  margin: 0 auto;
}
