@import 'style-variables';

:host {
  background-color: $color-background-default;
  display: flex;
  justify-content: center;

  footer {
    width: 100%;
    max-width: $size-max-content-width;
    height: $size-header-footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $padding-large;
    padding: $padding-large;
  }
}
