<ng-container *ngIf="product$ | async as product">
  <div class="flex-container">
    <div class="info">
      <h2
        class="title"
        [innerHTML]="product.title"
      ></h2>
      <div
        class="image"
        [style.background-image]="'url(' + product.imageUrl + ')'"
        [ariaLabel]="product.title"
      ></div>
      <p
        class="description"
        [innerHTML]="product.description"
      ></p>
      <footer>
        <p
          class="price"
          [innerHTML]="product.price | numberAsEuro"
        ></p>
        <shop-like-icon
          [liked]="product.liked"
          title="add to wishlist"
        ></shop-like-icon>
      </footer>
    </div>
    <aside>
      <table class="details">
        <caption>
          Details
        </caption>
        <tr>
          <th>Category</th>
          <td [innerHTML]="product.category"></td>
        </tr>
        <tr>
          <th>Material</th>
          <td [innerHTML]="product.material"></td>
        </tr>
        <tr>
          <th>Tag</th>
          <td [innerHTML]="product.tag"></td>
        </tr>
        <tr>
          <th>Reseller</th>
          <td [innerHTML]="product.reseller"></td>
        </tr>
        <tr>
          <th>Date added</th>
          <td [innerHTML]="product.dateAdded | date"></td>
        </tr>
      </table>
    </aside>
  </div>
</ng-container>
