// Font imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

// breakpoints
$mobile-breakpoint: 640px;

// fonts
$font-family-base: 'Poppins', sans-serif;
$font-family-headers: 'Montserrat Alternates', $font-family-base;

$font-line-height: 1.5;
$font-style-default: normal;

$font-size-rem-base-value: 10pt;
$font-size-base: 1rem;
$font-size-h1: 2.2rem;
$font-size-h2: 2rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1rem;
$font-size-badge: 10pt;

$font-weight-base: 200;
$font-weight-h1: 800;
$font-weight-h2: 700;
$font-weight-h3: 600;
$font-weight-h4: 500;
$font-weight-h5: 400;
$font-weight-h6: 400;

// padding / margin / gap
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 30px;

// sizes
$size-header-footer-height: 100px;
$size-min-card-width: 260px;
$size-badge: 20px;
$size-product-detail-image-height: 260px;
$size-max-content-width: 1280px;

// borders
$border-radius-default: 5px;
$border-radius-round: 9999px;
$border-width-default: 2px;

// transitions
$transition-duration-default: 0.15s;
$transition-easing-default: linear;

// colors
$color-text-dark: #000000;
$color-text-light: #a5a5a5;
$color-text-invert: #f8f8f8;
$color-background-body: #f8f8f8;
$color-background-default: #e4e4e4;
$color-accent: #e4a226;
$color-accent-active: #fae291;
$color-error: #b71c1c;
$color-success: #1b5e20;
