// Variables
@import 'style-reset';
@import 'style-variables';

:root {
  font-size: $font-size-rem-base-value;
}

body {
  background-color: $color-background-light;
  color: $color-text-dark;
  line-height: $font-line-height;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-style: $font-style-default;
  font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headers;
}

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-h5;
}

h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-h6;
}

a {
  color: $color-text-dark;
  text-decoration: none;
  cursor: pointer;
  transition: all $transition-duration-default $transition-easing-default;

  &:hover,
  &.active {
    color: $color-accent;
  }
}
